<!DOCTYPE html>

{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1>
         'here is the about page.'
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/Users/radiance/Workspace/tango_with_django_project/templates/rango/index.html">Index</a><br />
             <img src="{% /Users/radiance/Workspace/tango_with_django_project/media/cat.jpg %}"
            alt="Picture of a cat" />
        </div>
    </body>
</html>

